body{
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    line-height:1.5em;
    margin:0;
    padding:0;
    background-color:#f4f4f4;
}

/* Global */
.container{
    width:80%;
    margin:auto;
    overflow: hidden;

}
header ul{
    margin:0;
    padding:0;
}
.button_1{
    background: #e8491d;
    height: 37px;
    border: 0px;
    padding-left:20px;
    padding-right:20px;
    color: #fff;
}
/* Header */
header{
    background-color:#35424a;
    color:#fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}
header a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
}
header li{
    list-style: none;
    display: inline;
    padding-right: 20px;
    padding-left: 20px;
    float: left;
}
header #branding{
    float: left;
}
header #branding h1{
    margin:0;
}
header nav{
    float: right;
    margin-top: 10px;
}
header .highlight,.current a{
    color:#e8491d;
}
a:hover{
    font-weight: bold;
}
#showcase{
    min-height: 400px;
    background:url('../img/showcase.jpg') no-repeat 0,-400px;
    text-align:center;
    color: white;
}
#showcase h1{
    font-size:55px;
    margin-top: 100px;
    margin-bottom: 10px;
    line-height: 1.6em;

}
#showcase p{
    font-size:20px;
}
#newsletter{
    background:#35424a;
    color:#fff;
    padding:15px;
}
#newsletter h1{
    float: left;
}
#newsletter form{
    float: right;
    margin-top: 12px;
}
#newsletter input[type=email]{
    padding: 4px;
    width: 250px;
    height:25px;  
}
#boxes{
    margin-top:20px;
}
#boxes .box{
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
}
#boxes .box img{
    width:90px;
}
footer{
    text-align: center;
    background: #e8491d;
    margin-top:20px;
    padding: 20px;
    color: white;
}
/* Sidebar */
aside#sidebar{
    float: right;
    width: 30%;
    margin-top: 10px;
}
article#main-col{
    float: left;
    width: 65%;
}

.dark{
    margin-bottom:10px;
    margin-top: 10px;
    color: white;
    background: #35424a;
    padding: 15px;
}
ul#services li{
    list-style: none;
    padding: 20px;
    border: #cccccc 1px solid;
    margin-bottom: 5px;
    background:#e6e6e6;
}
aside#sidebar .quote input, aside#sidebar .quote textarea{
    width: 90%;
    padding: 5px;
}
/* Media Queries */
@media(max-width: 768px){
    header #branding,
    header nav,
    header nav li,
    #newsletter,
    #newsletter form,
    #boxes .box,
    article#main-col,
    aside#sidebar{
        float: none;
        text-align: center;
        width: 100%;
    }
    header{
        padding-bottom: 20px;
    }
    #showcase h1{
        margin-top: 40px;
    }
    #newsletter button, .quote button{
        width: 100%;
        display: block;
    }
    #newsletter form input[type="email"],.quote input,.quote textarea{
        margin-bottom: 10px;
        width: 100%;
    }
}